.pagination{
    margin-top:60px;
    text-align: center;
}

.pagination__btn{
    font-size: 1rem;
    color: white;
    padding:5px 12px;
    margin: 0 40px;
    cursor: pointer;
    background-color: rgb(206, 64, 58);
    border: 2px solid rgba(206, 63, 58, 0.671);
    outline: none;
}


.pagination__btn:hover,
.pagination__btn:active{
    color: rgb(206, 64, 58);
    background-color: white;
}

.pagination__btn:disabled{
    background-color: rgba(206, 63, 58, 0.418);
    border-color: rgba(206, 63, 58, 0.418);
    cursor: not-allowed;
}